name: sqlc ci/cd workflow
'on':
  - push
  - pull_request
jobs:
  build:
    runs-on: '${{matrix.os}}'
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        go-version:
          - 1.21
          - 1.22
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '${{matrix.go-version}}'
      - name: Build
        run: go build ./...
      - name: test
        run: go test ./...
  lint-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: golang-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8
  dependency-review:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
  govulncheck_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: stable
          go-package: ./...
